body {
    font-family: Verdana,Geneva,sans-serif;
    padding: 0;
    margin: 0;
    font-size: 82%;
    line-height: 1.4;
}
h1 {
    display: block;
    font-size:1em;  
    font-weight: bold;
    text-align:center;
     color:#595959;
}

h2 {
    display: block;
    font-size: 16px;  
    font-weight: bold;
    text-align:center;
    color:navy;
}
a {
   
    font-size: 15px;  
    font-weight: bold;
    text-align:center;
    color:maroon;
}

th {
    white-space: no-wrap;
    background-color: #383838;
    color: #FFFFCC;
    padding: 2px 6px;
}
td {
    border: 0;
    padding: 2px 6px;
    margin: 0;
    border-right: 1px solid #336;
    border-bottom: 1px solid #336;
    background-color: #EAEEF3;
}

td.logo {
    border: 0;
    padding: 2px 2px;
    margin: 0;
    border: 1px solid #336;
    background-color: #FFFFFF;
    text-align:center;
    font-size: 16px;
}

#rcorners1 {
    border-radius: 25px;
    border: 1px solid #336;
    
    padding: 20px; 
    width: 600px;
    color:#595959;
   
 
   
}
#rcorners2 {
    border-radius: 15px;
    border: 1px solid #336;
    background: #3498DB;
    padding: 10px; 
    width: 630px;
    font-size: 18px;  
    font-weight: bold;
    color:#FFFFFF;
   
}


